Create a folder where you would like to store the files.

    mkdir [Name_folder]

Once in that folder git clone the repository by using the HTTPS
url.

    git clone [url]

Change into the appropriate new folder.

    cd [Name_folder]

Open up a browser and head over to nodejs.org and download & install the appropriate
download for your system.

Follow the installation process.

In the terminal window verify that everything installed correctly with the following.

    node -v 

    npm -v

If an error occurs for either or both then close your vs code and open it again to refresh.
If this step was necessary try the following to commands up top again and verify that the 
version numbers for both were given.

Open a new terminal windown and change directory to the fuel-quote-app.

    cd [./Software-Design-Group-27/fuel-quote-app]

Then open run the following command.

    npm install 

That will install any dependencies that may be needed, and should start the server.
If it does not do so automatically. Copy the local url: and paste it in your browsers
url and hit enter to display the current web app, and to view real time changes.


